### from the AICamp Workshop: Unsupervised Learning and Deep Learning Based Forecasting

https://www.youtube.com/watch?v=amTzgvJg-ZE

Using the Rossman Stores Sales Dataset to make predictions about sales a week into the future

In [25]:
import pandas as pd # A tool we'll use to download and preview CSV files
import pprint # A tool to pretty print dictionary outputs
pp = pprint.PrettyPrinter(indent=2)

In [6]:
import creds
api_key = creds.apiKey

In [7]:
from realityengines.client import ReClient
client = ReClient(api_key)

In [8]:
client.list_use_cases()

[UseCase(use_case='CUSTOMER_CHURN', pretty_name='Customer Churn Prediction', description='Identify customers who are most likely to churn out of your system and send them marketing promotions/emails to retain them. Deploy a deep learning, real-time model that identifies customers who are most likely to leave and increase retention.'),
 UseCase(use_case='ENERGY', pretty_name='Real-Time Forecasting', description='Accurately forecast energy or computation usage in real-time. Make downstream planning decision based on your predictions. We use generative modeling and deep learning to augment your dataset with synthetic data. This unique approach allows us to make accurate predictions in real-time, even when you have little historical data.'),
 UseCase(use_case='FINANCIAL_METRICS', pretty_name='Financial Metrics Forecasting', description='Accurately plan your cash flow, revenue and sales with state-of-the-art deep learning-based forecasting. We use generative modeling and deep learning to augment your dataset with synthetic data. This unique approach allows us to make accurate predictions, even when you have little historical data.'),
 UseCase(use_case='FRAUD_ACCOUNT', pretty_name='Account Takeover and Defense', description="Shield your customers from account takeovers by blocking bots and fake sign-ups. Behind the scenes, our AI engine will develop a custom deep learning model for you that prevents bot attacks and stops account takeovers in real-time. Setup is super simple and doesn't require any ML expertise."),
 UseCase(use_case='FRAUD_THREAT', pretty_name='Intelligent Threat Detection', description="Stop breachers in their tracks by continuously monitoring your environment for malicious activity - Prevent alert fatigue by reducing the number of false positives over time. Behind the scenes, our AI engine develops a custom deep learning model that continuously monitors all your logs and alerts you of any malicious activity. Setup is super simple and doesn't require any ML expertise."),
 UseCase(use_case='FRAUD_TRANSACTIONS', pretty_name='Transaction Fraud', description="Accept payments with confidence, reduce chargebacks and catch payment fraud as it happens. Behind the scenes, our AI engine develops a custom deep learning model for you that prevents transaction fraud and catches fraudsters in real-time. Set up is super-simple and doesn't require any ML expertise"),
 UseCase(use_case='OPERATIONS_CLOUD', pretty_name='Cloud Spend Alerts', description='Deploy our state-of-the-art deep learning model to monitor your cloud spend and spot anomalies, spot runaway incidents and get alerts so they can be remedied quickly. Use deep-learning to find anomalies in your cloud usage, get alerts and mitigate cost incidents. No ML expertise requires and it takes minutes to set up.'),
 UseCase(use_case='OPERATIONS_INCIDENT', pretty_name='Early Incident Detection', description='Deploy our state-of-the-art deep learning model to detect IT incidents BEFORE they happen and increase uptime. Reduce alert fatigue and increase the efficiency of your operations team. Use deep learning to find anomalies in all your IT logs, get alerts and mitigate IT incidents. No ML expertise is required and it takes minutes to set up.'),
 UseCase(use_case='PERS_PROMOTIONS', pretty_name='Personalized Promotions', description='Send personalized promotions to your customers and increase engagement - Personalize promotions based on catalog items, marketing messages, delivery channels and discount terms. Deploy a deep-learning real-time model that targets relevant promotions to customers and increases engagement. No ML expertise is required and setup is easy.'),
 UseCase(use_case='PREDICTING', pretty_name='Predictive Modeling', description='Use historical data to predict future occurrences. Create your custom state-of-the-art predictive model and deploy it in production in hours, not months!. You can create a custom model for your specific needs simply by specifying your inputs/outputs and pointing us to the data. Our master AI will do the data processing, algorithm selection, model creation AND deploy the model in production for you.'),
 UseCase(use_case='RETAIL', pretty_name='Demand Forecasting', description='Accurately forecast retail demand. We use generative modeling and deep learning to augment your dataset with synthetic data. This allows us to make accurate predictions even when you have little historical data.'),
 UseCase(use_case='SALES_FORECASTING', pretty_name='Sales and Revenue Forecasting', description='Forecast sales and revenue across your sales reps, products, business units and locations. Use deep learning to forecast your sales across multiple dimensions. Make better planning discussions and identify future problems so you can mitigate them.'),
 UseCase(use_case='SALES_SCORING', pretty_name='Predictive Lead Scoring', description='Identify the sales leads that are most likely convert into paying customers and increase revenue. Just point our AI engine to your data and we will create a custom deep learning model that will score all your leads and identify the best ones for conversion.'),
 UseCase(use_case='USER_RANKINGS', pretty_name='Personalized Re-Ranking of Lists', description='Re-rank search results or list of items based on a user preferences. Maximize user engagement and revenue. Our unique blend of reinforcement learning and deep learning-based technology works even when you have little historical data and have to deal with a fast-changing catalog or multiple new users.'),
 UseCase(use_case='USER_RECOMMENDATIONS', pretty_name='Personalized Recommendations', description='Increase user engagement and revenue with personalized recommendations on your app/website. Our unique blend of reinforcement learning and deep learning-based technology works even when you have little historical data and have to deal with a fast-changing catalog or multiple new users.'),
 UseCase(use_case='USER_RELATED', pretty_name='Related Items', description='Maximize revenue and user engagement. Immerse your customers into your app/website by providing them with a rich browse and related items experience. Our unique blend of reinforcement learning and deep learning-based technology works even when you have little historical data and have to deal with a fast-changing catalog or multiple new users.')]

In [9]:
use_case = 'RETAIL'  #@param {type: "string"}

In [10]:
for requirement in client.describe_use_case_requirements(use_case):
  pp.pprint(requirement.to_dict())

{ 'allowed_column_mappings': { 'DATE': { 'allowed_data_types': ['TIMESTAMP'],
                                         'description': 'Date (day, year or '
                                                        'month) that '
                                                        'corresponds to the '
                                                        'demand value}',
                                         'required': True},
                               'DEMAND': { 'allowed_data_types': ['NUMERICAL'],
                                           'description': 'The demand value '
                                                          'you are '
                                                          'forecasting. (e.g '
                                                          'sales)',
                                           'required': True},
                               'FUTURE': { 'description': 'Known values ahead '
                                                          'of time (eg., '
                                                          'Holidays) that will '
                                                          'be present during '
                                                          'prediction',
                                           'multiple': True},
                               'IGNORE': { 'description': 'Ignore this column '
                                                          'in training',
                                           'multiple': True},
                               'ITEM_ID': { 'allowed_data_types': [ 'CATEGORICAL'],
                                            'description': 'The unique '
                                                           'identifier of the '
                                                           'item whose demand '
                                                           'you are '
                                                           'forecasting (e.g '
                                                           'product Id, sku '
                                                           'id)',
                                            'required': True}},
  'dataset_type': 'TIMESERIES',
  'description': 'This dataset corresponds to the historical demand data for '
                 'the items you are trying to forecast',
  'name': 'Forecasting Timeseries Data',
  'required': True}
{ 'allowed_column_mappings': { 'IGNORE': { 'description': 'Ignore this column '
                                                          'in training',
                                           'multiple': True},
                               'ITEM_ID': { 'allowed_data_types': [ 'CATEGORICAL'],
                                            'description': 'The unique '
                                                           'identifier of the '
                                                           'item whose demand '
                                                           'you are '
                                                           'forecasting (e.g '
                                                           'product Id, sku '
                                                           'id)',
                                            'required': True}},
  'dataset_type': 'ITEM_ATTRIBUTES',
  'description': 'This dataset corresponds to all the attributes or meta-data '
                 'that you have about the items you are forecasting',
  'name': 'Item Attributes',
  'required': None}

In [11]:
forecasting_project = client.create_project(name='Store Sales Forecasting', use_case=use_case)
forecasting_project.to_dict()

{'project_id': '1198584b44',
 'name': 'Store Sales Forecasting',
 'use_case': 'RETAIL',
 'created_at': '2020-04-23T17:49:20+00:00'}

In [12]:
sales_history = pd.read_csv('https://s3.amazonaws.com/realityengines.exampledatasets/sales_forecasting/store_sales_timeseries.csv')
sales_history.to_csv('sales_history.csv', index=False)
sales_history

        Store        Date  Sales  Customers  Promo StateHoliday  SchoolHoliday
0           1  2015-07-31   5263        555      1            0              1
1           2  2015-07-31   6064        625      1            0              1
2           3  2015-07-31   8314        821      1            0              1
3           4  2015-07-31  13995       1498      1            0              1
4           5  2015-07-31   4822        559      1            0              1
5           6  2015-07-31   5651        589      1            0              1
6           7  2015-07-31  15344       1414      1            0              1
7           8  2015-07-31   8492        833      1            0              1
8           9  2015-07-31   8565        687      1            0              1
9          10  2015-07-31   7185        681      1            0              1
10         11  2015-07-31  10457       1236      1            0              1
11         12  2015-07-31   8959        962      1            0              1
12         13  2015-07-31   8821        568      1            0              0
13         14  2015-07-31   6544        710      1            0              1
14         15  2015-07-31   9191        766      1            0              1
15         16  2015-07-31  10231        979      1            0              1
16         17  2015-07-31   8430        946      1            0              1
17         18  2015-07-31  10071        936      1            0              1
18         19  2015-07-31   8234        718      1            0              1
19         20  2015-07-31   9593        974      1            0              0
20         21  2015-07-31   9515        682      1            0              1
21         22  2015-07-31   6566        633      1            0              0
22         23  2015-07-31   7273        560      1            0              1
23         24  2015-07-31  14190       1082      1            0              1
24         25  2015-07-31  14180       1586      1            0              1
25         26  2015-07-31   7818        611      1            0              1
26         27  2015-07-31  13213       1263      1            0              1
27         28  2015-07-31   7301        663      1            0              1
28         29  2015-07-31   9411        737      1            0              1
29         30  2015-07-31   4776        625      1            0              1
...       ...         ...    ...        ...    ...          ...            ...
844362   1103  2013-01-02   3154        277      0            0              1
844363   1104  2013-01-02   4161        388      0            0              1
844364   1105  2013-01-02   2814        361      0            0              1
844365   1106  2013-01-02   5099        620      0            0              1
844366   1107  2013-01-02   3955        525      0            0              1
844367   1108  2013-01-02   6220        701      0            0              1
844368   1109  2013-01-02   4576        444      0            0              1
844369   1110  2013-01-02   4126        507      0            0              1
844370   1111  2013-01-02   5097        505      0            0              1
844371   1112  2013-01-02  10797        892      0            0              1
844372   1113  2013-01-02   6218        753      0            0              1
844373   1114  2013-01-02  20642       3401      0            0              1
844374   1115  2013-01-02   3697        305      0            0              1
844375     85  2013-01-01   4220        619      0            a              1
844376    259  2013-01-01   6851       1444      0            a              1
844377    262  2013-01-01  17267       2875      0            a              1
844378    274  2013-01-01   3102        729      0            a              1
844379    335  2013-01-01   2401        482      0            a              1
844380    353  2013-01-01   3139        820      0            a              1
844381    423  2013-01-01   9643       1751      0            a              1
844382    494  2013-01-01   3113        527      0            a              1
844383    512  2013-01-01   2646        625      0            a              1
844384    530  2013-01-01   2907        532      0            a              1
844385    562  2013-01-01   8498       1675      0            a              1
844386    676  2013-01-01   3821        777      0            a              1
844387    682  2013-01-01   3375        566      0            a              1
844388    733  2013-01-01  10765       2377      0            a              1
844389    769  2013-01-01   5035       1248      0            a              1
844390    948  2013-01-01   4491       1039      0            a              1
844391   1097  2013-01-01   5961       1405      0            a              1

[844392 rows x 7 columns]

In [13]:
store_attr = pd.read_csv('https://s3.amazonaws.com/realityengines.exampledatasets/sales_forecasting/store_metadata.csv')
store_attr.to_csv('store_attr.csv', index=False)
store_attr

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct"
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov"
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct"
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct"
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec"
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
20,21,c,c,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct"
21,22,a,a,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
22,23,d,a,4060.0,8.0,2005.0,0,NaN,NaN,NaN
23,24,a,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct"
24,25,c,a,430.0,4.0,2003.0,0,NaN,NaN,NaN
25,26,d,a,2300.0,NaN,NaN,0,NaN,NaN,NaN
26,27,a,a,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct"
27,28,a,a,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec"
28,29,d,c,2170.0,NaN,NaN,0,NaN,NaN,NaN
29,30,a,a,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov"
1086,1087,d,c,2210.0,11.0,2011.0,0,NaN,NaN,NaN
1087,1088,a,a,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct"
1088,1089,d,a,5220.0,5.0,2009.0,0,NaN,NaN,NaN
1089,1090,a,a,330.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1090,1091,a,c,9990.0,NaN,NaN,0,NaN,NaN,NaN
1091,1092,a,a,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1092,1093,c,c,10450.0,6.0,2009.0,0,NaN,NaN,NaN
1093,1094,d,a,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1094,1095,a,a,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1095,1096,a,c,1130.0,NaN,NaN,1,10.0,2014.0,"Mar,Jun,Sept,Dec"
1096,1097,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN
1097,1098,a,a,1830.0,11.0,2004.0,0,NaN,NaN,NaN
1098,1099,a,c,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct"
1099,1100,a,a,540.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1100,1101,d,c,4060.0,9.0,2012.0,0,NaN,NaN,NaN
1101,1102,a,a,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct"
1102,1103,d,c,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1103,1104,d,a,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
1104,1105,c,c,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov"
1105,1106,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1106,1107,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
1107,1108,a,a,540.0,4.0,2004.0,0,NaN,NaN,NaN
1108,1109,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct"
1109,1110,c,c,900.0,9.0,2010.0,0,NaN,NaN,NaN
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [ ]:
# Upload the datasets to RealityEngines.AI
sales_upload = client.create_dataset_from_local_file('Store Sales History', 
                                                      project_id=forecasting_project.project_id, 
                                                      dataset_type='TIMESERIES')
with open('sales_history.csv') as file:
   sales_dataset = sales_upload.upload_file(file)
   print("Sales History Dataset Uploaded")


store_upload = client.create_dataset_from_local_file('Store Attributes', 
                                                      project_id=forecasting_project.project_id, 
                                                      dataset_type='ITEM_ATTRIBUTES')
with open('store_attr.csv') as file:
   store_dataset = store_upload.upload_file(file)
   print("Store Attributes Dataset Uploaded")

datasets = [sales_dataset, store_dataset]

**Check Dataset Processing Status**

Once the file is uploaded, RealityEngines.AI starts inspecting and featurizing the datasets to automatically detect the schema. The following command will wait until RealityEngines.AI is done inspecting the files, then prints the schema that RealityEngines.AI detected.

In [15]:
for dataset in datasets:
    dataset.wait_for_inspection()
    print(f'{dataset.name} Schema:')
    pp.pprint(client.get_schema(forecasting_project.project_id, dataset.dataset_id))

Store Sales History Schema:
[ Schema(name='Store', column_mapping='ITEM_ID', column_data_type='IDENTIFIER'),
  Schema(name='Date', column_mapping='DATE', column_data_type='TIMESTAMP'),
  Schema(name='Sales', column_mapping='DEMAND', column_data_type='NUMERICAL'),
  Schema(name='Customers', column_mapping=None, column_data_type='NUMERICAL'),
  Schema(name='Promo', column_mapping=None, column_data_type='CATEGORICAL'),
  Schema(name='StateHoliday', column_mapping=None, column_data_type='CATEGORICAL'),
  Schema(name='SchoolHoliday', column_mapping=None, column_data_type='CATEGORICAL')]
Store Attributes Schema:
[ Schema(name='Store', column_mapping='ITEM_ID', column_data_type='IDENTIFIER'),
  Schema(name='StoreType', column_mapping=None, column_data_type='CATEGORICAL'),
  Schema(name='Assortment', column_mapping=None, column_data_type='CATEGORICAL'),
  Schema(name='CompetitionDistance', column_mapping=None, column_data_type='NUMERICAL'),
  Schema(name='CompetitionOpenSinceMonth', column_mapping=None, column_data_type='CATEGORICAL'),
  Schema(name='CompetitionOpenSinceYear', column_mapping=None, column_data_type='CATEGORICAL'),
  Schema(name='Promo2', column_mapping=None, column_data_type='CATEGORICAL'),
  Schema(name='Promo2SinceWeek', column_mapping=None, column_data_type='CATEGORICAL'),
  Schema(name='Promo2SinceYear', column_mapping=None, column_data_type='CATEGORICAL'),
  Schema(name='PromoInterval', column_mapping=None, column_data_type='CATEGORICAL')]

Each column in a Dataset gets a Column Data Type and all required Column Mappings will be set using heuristics.

There are some additional features that we'd like to set on the Store Sales Dataset.

For each Dataset Type in a Use Case, there are special Column Mappings that can be applied to a column. We can find the list of available Column Mappings by calling the Describe Use Case Requirements API.

In [16]:
client.describe_use_case_requirements(use_case)[0].allowed_column_mappings

{'ITEM_ID': {'description': 'The unique identifier of the item whose demand you are forecasting (e.g product Id, sku id)',
  'allowed_data_types': ['CATEGORICAL'],
  'required': True},
 'DEMAND': {'description': 'The demand value you are forecasting. (e.g sales)',
  'allowed_data_types': ['NUMERICAL'],
  'required': True},
 'DATE': {'description': 'Date (day, year or month) that corresponds to the demand value}',
  'allowed_data_types': ['TIMESTAMP'],
  'required': True},
 'FUTURE': {'description': 'Known values ahead of time (eg., Holidays) that will be present during prediction',
  'multiple': True},
 'IGNORE': {'description': 'Ignore this column in training', 'multiple': True}}

We want to mark a few columns as FUTURE in our timeseries dataset, as we'll know in advance when a Holiday will be.

The result of this call will be the updated schema after the Column Mappings are applied.

In [17]:
client.set_column_mapping(project_id=forecasting_project.project_id, dataset_id=sales_dataset.dataset_id,
                          column='StateHoliday', column_mapping='FUTURE')
client.set_column_mapping(project_id=forecasting_project.project_id, dataset_id=sales_dataset.dataset_id,
                          column='SchoolHoliday', column_mapping='FUTURE')

[Schema(name='Store', column_mapping='ITEM_ID', column_data_type='IDENTIFIER'),
 Schema(name='Date', column_mapping='DATE', column_data_type='TIMESTAMP'),
 Schema(name='Sales', column_mapping='DEMAND', column_data_type='NUMERICAL'),
 Schema(name='Customers', column_mapping=None, column_data_type='NUMERICAL'),
 Schema(name='Promo', column_mapping=None, column_data_type='CATEGORICAL'),
 Schema(name='StateHoliday', column_mapping='FUTURE', column_data_type='CATEGORICAL'),
 Schema(name='SchoolHoliday', column_mapping='FUTURE', column_data_type='CATEGORICAL')]

### Train a model

In [19]:
forecasting_project.validate()

ProjectValidation(valid=True, dataset_errors=[])

In [26]:
# the 7 in this describes the number of days into the future we want to check
forecasting_project.get_training_config_options()

[TrainingConfigOptions(name='TEST_SPLIT', data_type='INTEGER', value=None, default=10, options={'range': [5, 20]}, description='Percent of dataset to use for test data. We support using a range between 5% to 20% of your dataset to use as test data.', required=None, last_model_value=None),
 TrainingConfigOptions(name='DROPOUT_RATE', data_type='INTEGER', value=None, default=None, options={'range': [1, 10]}, description='Dropout percentage rate.', required=None, last_model_value=None),
 TrainingConfigOptions(name='BATCH_SIZE', data_type='ENUM', value=None, default=None, options={'values': [16, 32, 64, 128]}, description='Batch size.', required=None, last_model_value=None),
 TrainingConfigOptions(name='PREDICTION_LENGTH', data_type='INTEGER', value=None, default=7, options={'range': [1, 100]}, description='How many timesteps in the future to predict', required=None, last_model_value=None),
 TrainingConfigOptions(name='PROBABILITY_QUANTILES', data_type='MULTI_ENUM', value=None, default=[0.1, 0.5, 0.9], options={'names': ['P10', 'P25', 'P50', 'P75', 'P90'], 'values': [0.1, 0.25, 0.5, 0.75, 0.9], 'disabled': ['P50']}, description='Prediction quantiles.', required=None, last_model_value=None),
 TrainingConfigOptions(name='FORECAST_FREQUENCY', data_type='ENUM', value=None, default='1D', options={'names': ['1H - Hourly', '1D - Daily', 'W-MON - Weekly (Monday)', '1W - Weekly', '1M - Monthly', '1Y - Yearly'], 'values': ['1H', '1D', 'W-MON', '1W', '1M', '1Y']}, description='Forecast frequency.', required=None, last_model_value=None),
 TrainingConfigOptions(name='MIN_HISTORY_LENGTH', data_type='INTEGER', value=None, default=1, options={'range': [1, 50]}, description='Minimum history available to use while predicting.', required=None, last_model_value=None),
 TrainingConfigOptions(name='HISTORY_LENGTH', data_type='INTEGER', value=None, default=30, options={'range': [1, 200]}, description='While training, how much history to consider.', required=None, last_model_value=None)]

In [21]:
forecasting_model = forecasting_project.train_model(training_config={})
forecasting_model.to_dict()

{'name': 'Store Sales Forecasting Model',
 'model_id': '7490a3bef',
 'model_config': {},
 'created_at': '2020-04-23T18:01:09+00:00',
 'project_id': '1198584b44',
 'latest_model_instance': {'model_instance_id': 'd22979a4',
  'status': 'PENDING',
  'model_id': '7490a3bef',
  'training_started_at': '2020-04-23T18:01:09+00:00',
  'training_completed_at': None}}

In [22]:
ReClient().get_forecast(deployment_token="7f5305fba2004199a96bfbca88669c25", 
                              deployment_id="13d9392c63", 
                              query_data={"Store":"1"})

{'p10': [{'Date': '2015-08-01T00:00:00', 'Sales': 2359.1279296875},
  {'Date': '2015-08-02T00:00:00', 'Sales': 233.60757446289062},
  {'Date': '2015-08-03T00:00:00', 'Sales': 3945.16455078125},
  {'Date': '2015-08-04T00:00:00', 'Sales': 4377.07763671875},
  {'Date': '2015-08-05T00:00:00', 'Sales': 2910.220458984375},
  {'Date': '2015-08-06T00:00:00', 'Sales': 901.6558227539062},
  {'Date': '2015-08-07T00:00:00', 'Sales': 3536.629150390625}],
 'p50': [{'Date': '2015-08-01T00:00:00', 'Sales': 2895.922607421875},
  {'Date': '2015-08-02T00:00:00', 'Sales': 533.9945068359375},
  {'Date': '2015-08-03T00:00:00', 'Sales': 4904.3271484375},
  {'Date': '2015-08-04T00:00:00', 'Sales': 5133.029296875},
  {'Date': '2015-08-05T00:00:00', 'Sales': 3505.1728515625},
  {'Date': '2015-08-06T00:00:00', 'Sales': 1551.3121337890625},
  {'Date': '2015-08-07T00:00:00', 'Sales': 4124.46630859375}],
 'p90': [{'Date': '2015-08-01T00:00:00', 'Sales': 3632.3525390625},
  {'Date': '2015-08-02T00:00:00', 'Sales': 1239.2464599609375},
  {'Date': '2015-08-03T00:00:00', 'Sales': 5957.099609375},
  {'Date': '2015-08-04T00:00:00', 'Sales': 5797.04296875},
  {'Date': '2015-08-05T00:00:00', 'Sales': 4338.48779296875},
  {'Date': '2015-08-06T00:00:00', 'Sales': 2646.52294921875},
  {'Date': '2015-08-07T00:00:00', 'Sales': 4702.09326171875}]}

#### This step can take a long time - possibly hours

In [23]:
forecasting_model.wait_for_evaluation()

Model(name='Store Sales Forecasting Model', model_id='7490a3bef', model_config={}, created_at='2020-04-23T18:01:09+00:00', project_id='1198584b44', latest_model_instance=ModelInstance(model_instance_id='d22979a4', status='COMPLETE', model_id='7490a3bef', training_started_at='2020-04-23T18:01:09+00:00', training_completed_at='2020-04-23T18:29:14+00:00'))

## Checkpoint - this block encapsuates everything up until now
import pandas as pd
import pprint
pp = pprint.PrettyPrinter(indent=2)
api_key = ''  #@param {type: "string"}
from realityengines.client import ReClient
client = ReClient(api_key)
forecasting_project = next(project for project in client.list_projects() if project.use_case == 'RETAIL')
forecasting_model = forecasting_project.list_models()[-1]
forecasting_model.wait_for_evaluation()

In [27]:
# this runs after the evaluation is over
pp.pprint(forecasting_model.get_metrics().to_dict())

{ 'metric_names': [ {'nrmse': 'Normalized Root Mean Square Error'},
                    {'smape': 'Symmetric Mean Absolute Percent Error'}],
  'metrics': {'nrmse': 0.23895544855275425, 'smape': 32.15120281673451},
  'model_id': '7490a3bef',
  'model_instance_id': 'd22979a4'}

### To get a better understanding on what these metrics mean:

    Normalized Root Mean Square Error (nrmse):

    NRMSE stands for Normalized Root Mean Square Error. This metric is used in forecasting to measure forecast error and calculate the difference between the predicted values and the observed values. The lower the value of the metric the better. We report the metric as a percentage value. Normally, NRMSE values below 30% are considered good.

    Symmetric Mean Absolute Percent Error (smape):

    Symmetric Mean Absolute Percent Error, this metric is used for forecasting to calculate average of the difference between the prediction and observed results for all data points. The metric is calculated on a range from 0% to 100%. A metric score of 0% means that the model forecasted with perfect results. A metric score of 100% means that the model was completely inaccurate.

### 4. Deploy Model

After the model has been trained, we need to deploy the model to be able to start making predictions. Deploying a model will reserve cloud resources to host the model for realtime and batch predictions.

In [28]:
forecasting_deployment = forecasting_model.create_deployment('Store Sales Deployment')
forecasting_deployment.wait_for_deployment()

Deployment(deployment_id='15427b1e01', name='Store Sales Deployment', status='ACTIVE', description='', deployment_config=None, deployed_at='2020-04-23T18:53:00+00:00', created_at='2020-04-23T18:52:59+00:00', project_id='1198584b44', model_id='7490a3bef')

After the model is deployed, we need to create a deployment token for authenticating prediction requests. This token is only authorized to predict on deployments in this project, so it's safe to embed this token inside of a user-facing application or website.

In [29]:
deployment_token = forecasting_project.create_deployment_token().deployment_token
deployment_token

'1c5444d7c1694cc1b731a09bdd0ffeba'

### 5. Predict
Now that you have an Active deployment and a Deployment Token to authenticate requests, you can call the prediction command below.

This command will return a JSON Map containing the Prediction Quantiles P10, P50 and P90, each containing an Array of objects representing the prediction of Sales for each Date for the store with ID "1".

In [30]:
client.get_forecast(deployment_token=deployment_token, 
                              deployment_id=forecasting_deployment.deployment_id, 
                              query_data={"Store":"1"})

{'p10': [{'Date': '2015-08-01T00:00:00', 'Sales': 3661.40966796875},
  {'Date': '2015-08-02T00:00:00', 'Sales': 78.0924301147461},
  {'Date': '2015-08-03T00:00:00', 'Sales': 4273.931640625},
  {'Date': '2015-08-04T00:00:00', 'Sales': 2486.921875},
  {'Date': '2015-08-05T00:00:00', 'Sales': 1734.584716796875},
  {'Date': '2015-08-06T00:00:00', 'Sales': 156.35986328125},
  {'Date': '2015-08-07T00:00:00', 'Sales': 1636.0501708984375}],
 'p50': [{'Date': '2015-08-01T00:00:00', 'Sales': 4393.29248046875},
  {'Date': '2015-08-02T00:00:00', 'Sales': 359.0133361816406},
  {'Date': '2015-08-03T00:00:00', 'Sales': 5258.83056640625},
  {'Date': '2015-08-04T00:00:00', 'Sales': 3108.142333984375},
  {'Date': '2015-08-05T00:00:00', 'Sales': 2379.417236328125},
  {'Date': '2015-08-06T00:00:00', 'Sales': 718.6151123046875},
  {'Date': '2015-08-07T00:00:00', 'Sales': 2432.581298828125}],
 'p90': [{'Date': '2015-08-01T00:00:00', 'Sales': 5015.91357421875},
  {'Date': '2015-08-02T00:00:00', 'Sales': 1056.6187744140625},
  {'Date': '2015-08-03T00:00:00', 'Sales': 6136.625},
  {'Date': '2015-08-04T00:00:00', 'Sales': 3763.907470703125},
  {'Date': '2015-08-05T00:00:00', 'Sales': 3288.8291015625},
  {'Date': '2015-08-06T00:00:00', 'Sales': 1577.9637451171875},
  {'Date': '2015-08-07T00:00:00', 'Sales': 3424.6005859375}]}

This method will get you forecasts for a single Store, but what about all of your stores? If you need the results immediately, you can use get_forecast and call it for each of your Store IDs. However, if you can wait to get the results asyncronously, you can call the batch prediction API to generate the latest forecasts for all of your Stores. The API will then write the results of each prediction to a JSON Lines file, which you can then retrieve and use.

In [ ]:
batch_predict_job = client.batch_predict(deployment_id=forecasting_deployment.deployment_id)
batch_predict_job.wait_for_predictions()

#### Read results using pandas

In [ ]:
pd.read_json(batch_predict_job.output_location, lines=True)